*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../background2.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    list-style: none;
    float: right;
    margin-top: 25px;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: black;
    color: white;
}

ul li.active a {
    background-color: black;
    color: white;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title h1 {
    color: rgb(27, 25, 25);
    font-size: 70px;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }